#1. PERKENALAN

In [ ]:
'''
Nama  : Rugaya Muksin BSA
Batch : Data Science 006
Phase : 0

Live Code 2

'''

#2. IMPORT LIBRARY

In [ ]:
import numpy as np
from numpy import dot
from numpy.linalg import norm
import pandas as pd
from scipy import integrate

#3. DATA LOADING

In [ ]:
'''
Menggunakan library pandas dengan perintah pd.read_csv untuk meload data dan
mendefinisikan data frame sebagai swiss

'''

df = pd.read_csv('https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/Swiss_boundaries.txt')
df

     longitude  latitude
0      9.56672  47.54045
1      9.55980  47.50209
2      9.59660  47.46944
3      9.64965  47.45861
4      9.67035  47.39069
..         ...       ...
273    9.03333  47.68833
274    9.08264  47.68541
275    9.26110  47.66284
276    9.47832  47.57585
277    9.56672  47.54045

[278 rows x 2 columns]

#4. MATEMATICAL CALCULATIONS

4.1 Mendefinisikan vektor

In [ ]:
'''
Menggunakan perintah np.array dari library numpy untuk mendefinisikan vektor
kalimat 1 dan vektor kalimat 2 sebagai v1 dan v2

'''

v1 = np.array([1, 2, 2, 1, 1, 1, 2, 2])
v2 = np.array([1, 1, 2, 1, 1, 1, 1, 2])

4.2 Cosine Similarity

In [ ]:
'''
Menghitung cosine similarity dengan perkalian dot product menggunakan perintah
dot dan norm dari library numpy

'''

result = dot(v1, v2)/(norm(v1)*norm(v2))
print('Hasil Cosine Similarity:' , result)

Hasil Cosine Similarity: 0.9561828874675149

4.3 Calculus Implementation

In [ ]:
'''
wilayah swiss dibagi menjadi dua wilayah yaitu northern dan southern.
Agar mempermudah hitungan integral saya menggunakan acuan nilai tengah latitude 
dimana nilai maksimum ditambah nilai minimum lalu dibagi dua. 

'''

batas = (df['latitude'].max() + df['latitude'].min())/2
batas

46.818050000000056

In [ ]:
'''
Nilai diatas nilai tengah latitude merupakan nilai yang akan digunakan untuk 
menghitung luas swiss bagian northern. 

Nilai dibawah nilai tengah latitude merupakan nilai yang akan digunakan untuk
menghitung luas swiss bagian southern.

Mendefinisikan dataframe northern dan dataframe southern.

'''

df_n = df[df['latitude'] >= batas] # pembuatan dataframe untuk north
df_s = df[df['latitude'] < batas] # pembuatan dataframe untuk south

In [ ]:
'''
Menghitung luas swiss bagian northern menggunakan integrate.trapz yang merupakan
perintah dari library SciPy

'''

x = df_n['longitude']
y = df_n['latitude']
area_A = integrate.trapz(y,x) # memanggil fungsi integral untuk North Swiss

print('Luas Swiss bagian northern sebesar:',area_A)

Luas Swiss bagian northern sebesar: 2.138396827150004

In [ ]:
'''
Menghitung luas swiss bagian southern menggunakan integrate.trapz yang merupakan
perintah dari library SciPy

'''

x = df_s['longitude']
y = df_s['latitude']
area_B = integrate.trapz(y,x) # memanggil fungsi integral untuk North Swiss

print('Luas Swiss bagian southern sebesar:',area_B)

Luas Swiss bagian southern sebesar: -184.23261463525068

In [ ]:
'''
Menghitung luas swiss secara keseluruhan

'''

print('Area swiss berdasarkan koordinat adalah',area_A-area_B)

Area swiss berdasarkan koordinat adalah 186.3710114624007

#5. RESULT

In [ ]:
'''
Hasil dari cosine similarity sebesar 0.96 menunjukkan bahwa kalimat 1 dan 
kalimat 2 memiliki konteks yang serupa dikarenakan semakin besar nilai 
cosine similarity mendekati 1 maka sudut antar kedua vektor kalimat 1 dan
kalimat 2 makin kecil sehingga menunjukkan similiratis yang besar.

Luas Swiss bagian northern sebesar: 2.138396827150004
Luas Swiss bagian southern sebesar: -184.23261463525068
Area swiss berdasarkan koordinat adalah 186.3710114624007

'''