####1. PERKENALAN

In [4]:
'''

Nama   : Rugaya Muksin BSA
Batch  : Data Science 006

Live Code 1, Phase 0

'''

'\n\nNama   : Rugaya Muksin BSA\nBatch  : Data Science 006\n\nLive Code 1, Phase 0\n\n'

####2. IMPORT LIBRARY

In [5]:
import numpy as np
import pandas as pd

####3. DATA LOADING

In [6]:
'''
Memuat Dataset format excel dengan Pandas serta memberi nama file dengan NMC1

'''

NMC1 = pd.read_excel('NMC1-9.xlsx')

In [7]:
NMC1

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

####4. ANSWER

Soal Nomor 1

a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

In [8]:
'''
Menerapkan functions untuk mendefinisikan perhitungan hambatan (R) dan daya (P)

'''

def resistansi (V, I):
  R = V/I
  return(R)

def daya (V, I):
  P = V*I
  return(P)

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

In [9]:
'''
Menyalin dataset NMC1 menjadi nama variabel df, agar ketika melakukan eksplorasi
data, dataset aslinya masih bisa diakses dan dipanggil kembali dengan nama NMC1.

'''

df = NMC1.copy()

In [10]:
'''
Menerapkan konsep conditional if untuk menyelesaikan perhitungan jika nilai 
kapasitas >=2.5 dan jika nilai kapasitas <2.5

Serta menerapkan looping untuk menyelesaikan perhitungan nilai hambatan dan daya
sesuai dengan nilai yang ada pada kolom V_m dan Current (A)
'''

rp = []
n = 0

for i in df['Cap']:
  if i >= 2.5:
    rp.append(daya(df['V_m'][n], df['Current (A)'][n]))
  else:
    rp.append(resistansi(df['V_m'][n], df['Current (A)'][n]))

df['R/P'] = rp

In [11]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap       R/P
0        0  4.098        0.997      1  2.840817  4.085706
1        1  4.096        0.998      1  2.840817  4.085706
2        2  4.094        0.999      1  2.840817  4.085706
3        3  4.093        0.998      1  2.840817  4.085706
4        4  4.092        0.999      1  2.840817  4.085706

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

In [20]:
'''
Mengimplementasikan pandas query untuk menghitung rata-rata nilai kapasitas pada
kondisi nilai kolom Current (A) = 1 dan nilai kolom Cycle harus bernilai ganjil"

'''

A = df[
      (df['Current (A)'] == 1) &
      (df['Cycle'] %2==1)
]

In [21]:
A.mean()

time(s)        44253.645095
V_m                3.615658
Current (A)        1.000000
Cycle              4.863836
Cap                2.806485
R/P                4.085706
dtype: float64